<!DOCTYPE html>
<html lang="en"> <!--style=" text-align: center; width: 50%;">-->

<head>
	<title>Signals</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	{% load staticfiles %}
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css"/>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico'%}"/>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<style>
svg {
	display: block; 
	margin: auto;
}
</style>




<body class="body"> <!--style="background-color:#f6f6f6; display:inline-block; margin: 0px auto;">-->
	<nav class="navbar navbar-inverse">
	  <div class="container-fluid">
		<div class="navbar-header navbar-center">
		  <a class="navbar-brand navbar-center" href="#">Signals</a>
		</div>
		<form class="navbar-form navbar-right-side" method="POST" action=".">{% csrf_token %}
		  <div class="input-group"><!-- style="position:absolute;">-->
			<input type="text" class="form-control" placeholder="Search" name="search" id="search"><br>
			<br><ul class="list-group" id="result"></ul>
			<div class="input-group-btn">
			  <button class="btn btn-default" type="submit" id="click">
				<i class="glyphicon glyphicon-search"></i>
			  </button>
			</div>
		  </div>
		</form>
		<!--<div id="menu-outer">
		  <div class="table">
			<ul id="horizontal-list">
			  <li><a href="#"><img src="images/list-item-1.gif" alt="list item 1" /></a></li>
			  <li><a href="#"><img src="images/list-item-2.gif" alt="list item 2" /></a></li>
			  <li><a href="#"><img src="images/list-item-3.gif" alt="list item 3" /></a></li>
			  <li><a href="#"><img src="images/list-item-4.gif" alt="list item 4" /></a></li>
			</ul>
		  </div>
		</div>-->
	  </div>
	</nav>
	
	<div class="container-fluid" style="min-height:95%;">
		<div>
		   {% block content %}
		   {% endblock %}	
		   {% block script %}
		   {% endblock %}
		</div>
	</div>
	<!--<footer>
		<div class="container-fluid">
			<p><a href="#" target="blank">Contact</a> | <a href="#" target="blank">LinkedIn</a> | <a href="#" target="blank">Twitter</a> | <a href="#" target="blank">Google+</a></p>
		</div>
	</footer>-->
</body>
</html>