<h2>Signals Login Form</h2>

<button onclick="document.getElementById('id01').style.display='block'" style="width:auto;">Login</button>

<div id="id01" class="modal">
  
  <form class="modal-content animate" method="POST" action="validate/">{% csrf_token %}

    <div class="container">
      <label><b>Username</b></label>
      <input id="u1" type="text" placeholder="Enter Username" name="uname" required>

      <label><b>Password</b></label>
      <input id="p1" type="password" placeholder="Enter Password" name="psw" required>
        
      <button type="submit">Login</button>
    </div>

    <div class="container" style="background-color:#f1f1f1">
      <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
      <!--<span class="psw">Forgot <a href="#">password?</a></span>-->
    </div>
  </form>
</div>

<button onclick="document.getElementById('id02').style.display='block'" style="width:auto;">Register</button>

<div id="id02" class="modal">
  
  <form class="modal-content animate" method="POST" action="create/">{% csrf_token %}

    <div class="container">
      <label><b>Username</b></label>
      <input id="u2" type="text" placeholder="Enter Username" name="uname" required>

      <label><b>Password</b></label>
      <input id="p2" type="password" placeholder="Enter Password" name="pwd" required>
        
      <button type="submit">Register</button>
    </div>

    <div class="container" style="background-color:#f1f1f1">
      <button type="button" onclick="document.getElementById('id02').style.display='none'" class="cancelbtn">Cancel</button>
      <!--<span class="psw">Forgot <a href="#">password?</a></span>-->
    </div>
  </form>
</div>
<hr>
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}